:root {
    --success-color: #2ecc71;
    --error-color: #EB5757;
}

* {
    box-sizing: border-box;
}

body {
    background: url('Bg.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    align-items: center;
}

.container {
    width: 35em;
    margin-bottom: 7em;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.passChanged {
    display: none;
    padding: 30px 40px;
    margin: 9em 0;
    background: transparent !important;
}

.form {
    padding: 30px 40px;
    margin-top: 6em;
    overflow: hidden;
}

.form-control {
    background: transparent !important;
    padding-bottom: 7em;
    position: relative;
    border: none;
}

.form-control label {
    color: #000000;
    display: block;
    margin-bottom: 4px !important;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;

}

.form-control input {
    border: 2px solid #000000;
    background: #F2F2F2 !important;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1em;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button,
button {
    cursor: pointer;
    background-color: #000000;
    color: white;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4px;
}


.navbar {
    background-color: #33A0D9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.navbar-logo {
    left: 0;
    position: absolute;
    height: auto;
    width: auto;
}

.nav-links {
    position: absolute;
    right: 0;
    float: right;
    display: inline;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

ul>li {
    padding: 1em;
    justify-content: center;
    align-items: center;
}

ul>li>a {
    color: black;
    font-family: "Avenir Next" !important;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none !important;
}

#login {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px 15px;
}

.navbar-brand>img {
    cursor: pointer;
}

@media (min-width:0px) and (max-width:190px) {
    .navbar-brand>img {
        width: 40vw;
    }
}

.top {
    background-color: #33A0D9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

footer {
    background-color: #33A0D9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-links {
    margin: 0 20em 0 0;
    padding: 0;
}

.footer-links>li>a {
    color: white !important;
    font-family: "Avenir Next" !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}